

#mainBox{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 10%;

    .SettingsLink{
        text-decoration: none;
        color: #6c757d;
        font-size: large;
        font-family: inherit;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}